#separated{
	height:230px;
	overflow:hidden;
	background-image: url("../img/earthterminator.jpg");
	background-position: 100% 220%;
	background-attachment: fixed;
}
#timeline{
	height: 340px;
}
.point-in-time{
	padding: 0.5em 0.75em;
}
.point-in-time:hover{
	background-color:#2d89ef!important;/*fg-color-blue*/
	cursor: pointer;
}
.point-in-time.visit{
	background-color:#eff4ff!important;/*bg-color-blueLight*/
	color:#2b5797!important;/*fg-color-blueDark*/
}
.blog-post-item{
	padding: 0.5em 0.75em;
}