body{
	background-image: url("../img/earthterminator.jpg");
	background-position: 100% 20%;
	background-attachment: fixed;

}
#separated{
	height:230px;
	overflow:hidden;
	background-image: url("../img/earthterminator.jpg");
	background-position: 100% 20%;
	background-attachment: fixed;
}
#timeline{
}
.point-in-time{
	padding: 0.5em 0.75em;
}
.point-in-time:hover{
	background-color:#2d89ef!important;/*fg-color-blue*/
	cursor: pointer;
}
.point-in-time.visit{
	background-color:#eff4ff!important;/*bg-color-blueLight*/
	color:#2b5797!important;/*fg-color-blueDark*/
}
.blog-post-item{
	padding: 0.5em 0.75em;
}

:root .rgba{
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00000000', EndColorStr='#00000000');
}
#blog-post-comment {
	background:rgba(82,82,82, 0.3);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#52525200', EndColorStr='#52525200');
}
.base-message{
	padding: 0.5em 0.75em;
	opacity: 1;
}